/* Tags */
body {
    margin: 0px;
    overflow: hidden;
    font-family: 'Poppins Medium';
}

iframe {
    height: 100%;
    width: 100%;
}

/* IDs */
#firstRunDisclaimer {
    font-size: 12px;
    font-family: 'Poppins Thin';
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 1 em;
    padding: 2 px 4 px;
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

#firstRunTitle {
    text-align: center;
    margin: 60px 0 30px;
    color: #392e5c;
}

#loadingPlane {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

#loadingPlaneText {
    margin: auto;
    color: #ffffff;
    font-size: 36px;
}

#languageButtonContainer,
#skipButtonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 20px;
}

#skipButtonContainer {
    margin-bottom: 30px;
}

#webview {
    position: absolute;
    top: 40;
    left: 0;
    height: calc(100% - 60px);
    width: 100%;
}

#wikipediaMenuBar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    background-color: #392e5c;
}

#wikipediaMenuBar .wikipediaMenuBarPart:first-child div {
    border-right: 1px solid #27203f;
}

#wikipediaMenuBar .wikipediaMenuBarPart:last-child div {
    border-left: 1px solid #27203f;
}

#wikipediaStatusBar {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: #392e5c;
    padding: 0px 8px;
    color: #ffffff;
    font-size: 9px;
}

#wikipediaStatusBarCode {
    height: 10px;
    width: 10px;
}

#wikipediaStatusBarTitle {
    white-space: nowrap;
}

#wikipediaStatusBarURL,
#wikipediaStatusBarSpacer {
    font-family: 'Poppins Thin';
    white-space: nowrap;
}

/* Classes: */
.firstRunLanguageButton {
    height: 66px;
    width: 45%;
    min-width: 260px;
    max-width: 350px;
    font-family: 'Poppins Light';
    background-color: #392e5c;
    color: #ffffff;
}

.menuBarButtonIcon {
    height: 11px;
    width: 11px;
}

.menuBarHomeButtonIcon {
    height: 27px;
    width: 27px;
}

.menuButton {
    width: 40px;
    height:40px;
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
}

.wikipediaMenuBarDragArea {
    -webkit-app-region: drag;
    cursor: move;
    user-select: none;
    width: 100%;
}

.wikipediaMenuBarPart {
    display: flex;
}
